body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #FFC0CB;
}

h1{
  font-weight: 100;
  font-size: 70px;
  color: #f1f1f1;
  text-decoration: underline;
}

.inputsection {
  margin: 20px 10px 20px 10px;
  width: 400px;
}

.picture {
  width: 200px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  box-sizing: content-box;
  padding: 5px 5px 5px;
  border-width: 5px;
  border-style: dotted;
  border-color: #f1f1f1;

}

.addoption {
  margin-top: 30px;
  background-color: #FF1493;
  box-sizing: content-box;
  padding: 10px;
  color: #f1f1f1;
  border-style:hidden;
}

.next {
  margin: 20px;
  background-color:#FF1493;
  font-size: 20px;
  box-sizing: content-box;
  padding: 5px 5px 5px;
  border-width: 5px;
  border-style: dotted;
  border-color: #f1f1f1;
  color: #f1f1f1;


}
